.filterBar {
  display: flex;
  gap: 12px; /* Reduced gap for smaller viewports */
  margin-bottom: 16px; /* Reduced margin */
  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
  justify-content: flex-start; /* Align buttons to the left */
  align-items: stretch; /* Center items vertically */
}

.filterBar button {
  padding: 10px 16px; /* Adjusted padding */
  border-radius: 12px; /* Adjusted border radius */
  border: 2px solid transparent;
  background: var(--solid-white);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px; /* Adjusted font size */
  font-weight: 500;
  transition: all 0.2s ease;
  text-align: center; /* Center text inside the button */
  display: flex; /* For aligning text and icon */
  align-items: center; /* Vertically align text and icon */
  justify-content: center; /* Horizontally center content */
  gap: 6px; /* Space between text and icon */
}

.filterBar button:hover {
  border-color: var(--true-black);
}

.filterBar button.active {
  background: var(--true-black);
  color: var(--solid-white);
  font-weight: 600;
}

.filterBar button.active:hover {
  border-color: var(--solid-white);
}

.filters {
  display: flex;
  gap: px;
  align-items: center;
}

.filterButton {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: var(--solid-white);
  color: var(--true-black);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filterButton.active {
  background: var(--true-black);
  color: var(--solid-white);
}

.periodButton {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px; /* Adjust as needed */
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .filterBar button {
    font-size: 12px; /* Smaller font size for tablets */
    padding: 8px 12px; /* Adjusted padding */
  }
}

@media screen and (max-width: 768px) {
  .filterBar {
    padding-top: 24px;
  }
  .periodButton {
  justify-content: center;
}
  .filterBar {
    justify-content: center; /* Center buttons on smaller screens */
  }

  .filterBar button {
    flex-grow: 1; /* Make buttons stretch to fill available space */
    font-size: 14px; /* Adjust font size */
    padding: 10px 16px; /* Adjust padding */
  }
}
